@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;800;900&family=Lato:wght@400;700&family=Montserrat:wght@400;500;600;700;800&family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --primary:#14213D;
    --secondary:#FCA311;
    --tertiary:#E5E5E5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: white !important;
    transition: 0.6s;
    padding: 10px 30px !important;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.2);
}


.nav-item{

    font-size: 1.1em;
    margin-inline: 1rem;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primary);
    opacity:0.75;
}

 .navbar-light .navbar-nav .nav-link.active{
    color: var(--primary);
    opacity:1;
}
.navbar-brand img{
     max-width: 10rem;
}

@media (max-width: 991px) {
    nav .btn{
       display: none;
    }
}

main{
    padding-bottom: 2rem;
    font-family: var(--bs-font-sans-serif);
}

#hero-section{
    margin-top:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background: url("../assets/banner-4.jpg") center/cover no-repeat;
    font-family: var(--bs-font-sans-serif);
  }
  
  .hero-content{
    text-align: center ;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
  }
  
  .buttons{
    display:flex;
    justify-content: center;
    margin-top:20px;
  }

  #learn-more{
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-inline:12px;
    padding: 10px 20px;
    text-shadow: none;
    border-radius:10px;
  }

  #signup{
    text-shadow: none;
    background-color: var(--secondary);
    color: white;
    font-weight: 600;
    margin-inline:12px;
    padding: 10px 30px;
    border-radius:10px;
  }
  
  .features-btn{
    font-family: "lato", sans-seriff;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-top: 12px;
  }


  .features-btn #connections{
    text-align:center;
    margin-top:8px;
    width: 250px;
    height: 60px;
    padding: 20px;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
  }

  .features-btn #networking{
    text-align:center;
    margin-top:8px;
    width: 250px;
    height: 60px;
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
    font-weight: bold;
  }

  .features-btn #premium{
    margin-top:8px;
    text-align:center;
    margin-bottom:24px;
    width: 250px;
    height: 60px;
    padding: 20px;
    background-color: var(--tertiary);
    color: var(--primary);
    font-weight: bold;
  }

  .btn-primary{
    background-color: var(--primary) !important;
    border: none !important;
  }

  /* hero section for tablet screens */
 @media (min-width: 768px)
 {
    #hero-section{
        display: grid;
    }
 }