<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Account Settings</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../css/dashboard.css">
	<link rel="stylesheet" href="../css/profile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="dashboard-structure">
    <header class="header"><div>
        <!-- <button id="logoutBtn">Logout</button> -->
        <div class="initialcontain">
            <h2>Welcome <span id="usernametext"></span>!</h2>

            <div id="initialDiv">
            </div>
        </div>
        
    </div></header>
    <div id="dropdownMenu">
        <ul>
            <li id="logoutOption">Logout</li>
            <li>View Profile</li>
        </ul>
    </div>

    <section class="sidebar close">
        <nav>
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="../assets/logo.png" alt="Quick Connect ">
                        
                    </span>
                </div>
            </header>

            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a  href="dashboard.html">
                                <i class="bx bx-home-alt icon"></i>
                                <span class="text nav-text">Home</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="qr.html">
                                <i class='bx bx-qr-scan icon'></i>
                                <span class="text nav-text">My QR</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a class="active" href="profile.html">
                                <i class='bx bx-user icon'></i>
                                <span class="text nav-text">Profile</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="connections.html">
                                <i class='bx bx-group icon'></i>
                                <span class="text nav-text">Connections</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="nearby.html">
                                <i class='bx bx-map icon'></i>
                                <span class="text nav-text">Nearby</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a  href="events.html">
                                <i class='bx bx-calendar icon'></i>
                                <span class="text nav-text">Networking Events</span>
                            </a>
                        </li>
                    </ul>
                </div>

    
            </div>
        </nav>
        <section class="overlay"></section>
    </section>
    <main class="main">
        <style>
        * {
            box-sizing: border-box;
          }
          
          body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
          }
          
          .form-container {
            background-color: #f2f2f2;
            padding: 20px;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
          }
          
          .form-container input[type="text"],
          .form-container input[type="email"],
          .form-container input[type="tel"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: white;
            transition: border-color 0.3s;
          }
          
          .form-container input[type="text"]:focus,
          .form-container input[type="email"]:focus,
          .form-container input[type="tel"]:focus {
            border-color: dodgerblue;
            outline: none;
          }
          
          .form-container button {
            background-color: dodgerblue;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
          }
          
          .form-container button:hover {
            background-color: #007acc;
          }
          
          .error-message {
            color: red;
          }
        </style>
      </head>
      <body>
        <div class="form-container">
          <form>
            <input id="username" type="text" class="input-field" placeholder="Username">
            <input id="email" type="email" class="input-field" placeholder="Email">
            <input id="number" type="tel" class="input-field" placeholder="Phone Number">
            <input id="headline" type="text" class="input-field" placeholder="Headline">
            <input id="address" type="text" class="input-field" placeholder="Address">
            <input id="linkedin" type="text" class="input-field" placeholder="LinkedIn Profile URL">
            <input id="instagram" type="text" class="input-field" placeholder="Instagram Profile URL">
            <input id="facebook" type="text" class="input-field" placeholder="Facebook Profile URL">
            <input id="tiktok" type="text" class="input-field" placeholder="TikTok Profile URL">
            <button id="savechanges">Save Changes</button>
          </form>
        </div>
    </main>
    
    <div class="bottom-navbar">
        <a href="dashboard.html" >
            <i class="bx bx-home-alt icon"></i>
        </a>
        <a href="qr.html" >
            <i class='bx bx-qr-scan icon'></i>
        </a>
    
        <a href="connections.html">
            <i class='bx bx-group icon'></i>
        </a>
        <a href="nearby.html">
            <i class='bx bx-map icon'></i>
        </a>
        <a href="events.html">
            <i class='bx bx-calendar icon'></i>
        </a>
    </div>

    <!-- Include the Firebase SDK script -->
    <script src="/__/firebase/8.9.1/firebase-app.js"></script>
    <script src="/__/firebase/8.9.1/firebase-auth.js"></script>
    <script src="/__/firebase/init.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>

    <!-- Add your custom JavaScript code for handling the dashboard -->
    <script type="text/javascript">
        const firebaseConfig = {
            apiKey: "AIzaSyDxIYV6GJbwcg9TKdSbhWCN3X3WXXK0EWk",
            authDomain: "quick-connect-app-40ef2.firebaseapp.com",
            projectId: "quick-connect-app-40ef2",
            storageBucket: "quick-connect-app-40ef2.appspot.com",
            messagingSenderId: "527717734334",
            appId: "1:527717734334:web:7ad79cfd20dfd603774bef",
            measurementId: "G-K78LLKVFYS"
          };
        
        firebase.initializeApp(firebaseConfig);

        const db = firebase.firestore();
        function fetchAndDisplayUserData(userId) {
          const userRef = db.collection('Users').doc(userId);
          userRef
            .get()
            .then((doc) => {
              if (doc.exists) {
                const userData = doc.data();
        
                // Display the user data in the input fields
                document.getElementById('username').value = userData.username || '';
                document.getElementById('email').value = userData.email || '';
                document.getElementById('number').value = userData.number || '';
                document.getElementById('headline').value = userData.headline || '';
                document.getElementById('address').value = userData.address || '';
                document.getElementById('linkedin').value = userData.linkedin || '';
                document.getElementById('instagram').value = userData.instagram || '';
                document.getElementById('facebook').value = userData.facebook || '';
                document.getElementById('tiktok').value = userData.tikTok || '';
              } else {
                console.log('User data not found.');
              }
            })
            .catch((error) => {
              console.error('Error retrieving user data:', error);
              // Handle error
              console.log(error);
            });
        }
        
        firebase.auth().onAuthStateChanged(user => {
            if (user) {
                displayName = user.displayName;
                document.getElementById('usernametext').textContent = displayName;

                document.getElementById('username').value = displayName;

                const initial = displayName.charAt(0).toUpperCase();
                const initaldiv = document.getElementById('initialDiv').textContent = initial;

                initialDiv.textContent = initial;
                initialDiv.addEventListener('click', displayDropdown);

                const userId = user.uid;
                fetchAndDisplayUserData(userId);
            } else {
                window.location.href = "/views/login.html"; 
            }
        });

        function displayDropdown() {
            const dropdownMenu = document.getElementById('dropdownMenu');
            dropdownMenu.style.display = dropdownMenu.style.display === 'none' ? 'block' : 'none';
        }

        document.addEventListener('click', function (event) {
            const dropdownMenu = document.getElementById('dropdownMenu');
            if (!dropdownMenu.contains(event.target) && event.target !== document.getElementById('initialDiv')) {
                dropdownMenu.style.display = 'none';
            }
        });

        const logoutOption = document.getElementById('logoutOption');
        logoutOption.addEventListener('click', function logout() {
            firebase.auth().signOut()
                .then(() => {
                    window.location.href = "/views/login.html";
                })
                .catch(error => {
                    console.log("Error logging out: " + error.message);
                });
        });

        const form = document.querySelector('form');
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      
      const phoneNumberInput = document.querySelector('input[type="tel"]');
      const phoneNumber = phoneNumberInput.value.trim();
      
      // Phone number validation
      if (!/^\d+$/.test(phoneNumber)) {
        const errorMessage = document.createElement('p');
        errorMessage.classList.add('error-message');
        errorMessage.textContent = 'Please enter a valid phone number.';
        phoneNumberInput.insertAdjacentElement('afterend', errorMessage);
      } else {
        form.submit();
      }
    });


    const saveChanges = document.getElementById('savechanges');

    saveChanges.addEventListener('click', (event) => {
      // Prevent the form from submitting
      event.preventDefault();
    
      // Display the progress bar
      const progressBarContainer = document.getElementById('progressBarContainer');
    
      // Get the input values
      const usernameInput = document.getElementById('username').value;
      const emailInput = document.getElementById('email').value;
      const headlineInput = document.getElementById('headline').value;
      const addressInput = document.getElementById('address').value;
      const phoneNumberInput = document.getElementById('number').value;
      const linkedInInput = document.getElementById('linkedin').value;
      const instagramInput = document.getElementById('instagram').value;
      const facebookInput = document.getElementById('facebook').value;
      const tikTokInput = document.getElementById('tiktok').value;
    
      // Get the current user's ID
      const userId = firebase.auth().currentUser.uid;
    
      // Create an object with the user data
      const userData = {
        username: usernameInput,
        email: emailInput,
        headline: headlineInput,
        address: addressInput,
        number: phoneNumberInput,
        linkedin: linkedInInput,
        instagram: instagramInput,
        facebook: facebookInput,
        tikTok: tikTokInput
      };
    
      // Check if the document exists
      const userRef = db.collection('Users').doc(userId);
      userRef
        .get()
        .then((doc) => {
          if (doc.exists) {
            // Update the user data in Firestore
            userRef
              .update(userData)
              .then(() => {
                console.log('User data updated successfully.');
              })
              .catch((error) => {
                console.error('Error updating user data:', error);
                // Handle error
                console.log(error);
              });
          } else {
            // Create a new document with the user data
            userRef
              .set(userData)
              .then(() => {
                console.log('New user data created successfully.');
              })
              .catch((error) => {
                console.error('Error creating user data:', error);
                // Handle error
                console.log(error);
              });
          }
        })
        .catch((error) => {
          console.error('Error retrieving user data:', error);
          // Handle error
          console.log(error);
        });
    });
    

    </script>	
</body>
</html>