<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My QR</title>
    <!-- Include any CSS styles specific to your dashboard screen -->
    <link rel="stylesheet" href="../css/dashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.rawgit.com/serratus/quaggaJS/0.12.1/dist/quagga.min.js"></script>
</head>
<body class="dashboard-structure">
    <header class="header">
        <div>
            <!-- <button id="logoutBtn">Logout</button> -->
            <div class="initialcontain">
                <h2>Welcome <span id="username"></span>!</h2>
                <div id="initialDiv"></div>
            </div>
        </div>
    </header>
    <div id="dropdownMenu">
        <ul>
            <li id="logoutOption">Logout</li>
            <li>View Profile</li>
        </ul>
    </div>

    <section class="sidebar close">
        <nav>
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="../assets/logo.png" alt="Quick Connect ">
                    </span>
                </div>
            </header>
            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a  href="dashboard.html">
                                <i class="bx bx-home-alt icon"></i>
                                <span class="text nav-text">Home</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a class="active" href="#">
                                <i class='bx bx-qr-scan icon'></i>
                                <span class="text nav-text">My QR</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="profile.html">
                                <i class='bx bx-user icon'></i>
                                <span class="text nav-text">Profile</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="connections.html">
                                <i class='bx bx-group icon'></i>
                                <span class="text nav-text">Connections</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="nearby.html">
                                <i class='bx bx-map icon'></i>
                                <span class="text nav-text">Nearby</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="events.html">
                                <i class='bx bx-calendar icon'></i>
                                <span class="text nav-text">Networking Events</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="overlay"></section>
    </section>
    <main class="main">
        <div id="qrcode-container"></div>
        <canvas id="video-preview"></canvas>
    </main>
    
    <div class="bottom-navbar">
        <a href="dashboard.html">
            <i class="bx bx-home-alt icon"></i>
        </a>
        <a class="active" href="qr.html">
            <i class='bx bx-qr-scan icon'></i>
        </a>
        <a href="connections.html">
            <i class='bx bx-group icon'></i>
        </a>
        <a href="nearby.html">
            <i class='bx bx-map icon'></i>
        </a>
        <a href="events.html">
            <i class='bx bx-calendar icon'></i>
        </a>
    </div>

    <!-- Include the Firebase SDK script -->
    <script src="/__/firebase/8.9.1/firebase-app.js"></script>
    <script src="/__/firebase/8.9.1/firebase-auth.js"></script>
    <script src="/__/firebase/init.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>


    <!-- Add your custom JavaScript code for handling the dashboard -->
    <script type="text/javascript">
        const firebaseConfig = {
            // Your Firebase configuration
            apiKey: "AIzaSyDxIYV6GJbwcg9TKdSbhWCN3X3WXXK0EWk",
            authDomain: "quick-connect-app-40ef2.firebaseapp.com",
            projectId: "quick-connect-app-40ef2",
            storageBucket: "quick-connect-app-40ef2.appspot.com",
            messagingSenderId: "527717734334",
            appId: "1:527717734334:web:7ad79cfd20dfd603774bef",
            measurementId: "G-K78LLKVFYS"
        };
        
        firebase.initializeApp(firebaseConfig);

        const db = firebase.firestore();
        
        firebase.auth().onAuthStateChanged(user => {
            if (user) {
                const userId = user.uid;

                const userRef = db.collection('Users').doc(userId);
          userRef
            .get()
            .then((doc) => {
              if (doc.exists) {
                const userData = doc.data();
        
                function getUserObject()
                {
                    // Display the user data in the input fields
                    const user_name = userData.username || '';
                    const user_email = userData.email || '';
                    const number = userData.number || '';
                    const headline = userData.headline || '';
                    const address = userData.address || '';
                    const linkedin = userData.linkedin || '';
                    const instagram = userData.instagram || '';
                    const facebook = userData.facebook || '';
                    const tiktok = userData.tikTok || '';

                    const userObj = {
                        'username': user_name,
                        'email': user_email,
                        'number':number,
                        'headline': headline,
                        'address': address,
                        'linkedin': linkedin,
                        'instagram': instagram,
                        'facebook': facebook,
                        'tiktok': tiktok
                    }

                    return userObj

                }
                
              } else {
                console.log('User data not found.');
              }
            })
            .catch((error) => {
              console.error('Error retrieving user data:', error);
              // Handle error
              console.log(error);
            });
                displayName = user.displayName;
                document.getElementById('username').textContent = displayName;

                const initial = displayName.charAt(0).toUpperCase();
                const initialDiv = document.getElementById('initialDiv').textContent = initial;

                initialDiv.textContent = initial;
                initialDiv.addEventListener('click', displayDropdown);
            } else {
                window.location.href = "/views/login.html"; 
            }
        });


        function displayDropdown() {
            const dropdownMenu = document.getElementById('dropdownMenu');
            dropdownMenu.style.display = dropdownMenu.style.display === 'none' ? 'block' : 'none';
        }

        document.addEventListener('click', function (event) {
            const dropdownMenu = document.getElementById('dropdownMenu');
            if (!dropdownMenu.contains(event.target) && event.target !== document.getElementById('initialDiv')) {
                dropdownMenu.style.display = 'none';
            }
        });

        const logoutOption = document.getElementById('logoutOption');
        logoutOption.addEventListener('click', function logout() {
            firebase.auth().signOut()
                .then(() => {
                    window.location.href = "/views/login.html";
                })
                .catch(error => {
                    console.log("Error logging out: " + error.message);
                });
        });

        firebase.auth().onAuthStateChanged(user => {
            const userID = user.uid
            const qrCode = new QRCode(document.getElementById("qrcode-container"), {
                text: 'https://64bb60c591c0a324a6f9555d--motha.netlify.app/views/user-page.html',
                width: 200,
                height: 200,
            });

            Quagga.init({
                inputStream: {
                    name: "Live",
                    type: "LiveStream",
                    target: document.querySelector("#video-preview"),
                    constraints: {
                        facingMode: "environment" // or "user" for front camera
                    },
                },
                decoder: {
                    readers: ["ean_reader"]
                }
            }, function (err) {
                if (err) {
                    console.error(err);
                    return;
                }
                console.log("Initialization finished. Starting quagga.");
                Quagga.start();
            });
    
            Quagga.onDetected(function (result) {
                const userObj = getUserObject();
    
            // Construct the URL with the encoded user object as a query parameter
            const redirectUrl = 'https://64bb60c591c0a324a6f9555d--motha.netlify.app/views/user-page.html?uid=userID';
    
            // Redirect to the new page
            window.location.href = redirectUrl;
            });
        })
    </script>
</body>
</html>
