<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <!-- Include any CSS styles specific to your login screen -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="structure">

    <div>

    <img class="logo-image" src="../assets/logo.png"  alt="Logo">
    <form id="login-form">
        <div class="login-title"><h1>Sign Up</h1></div>

        <label for="username">Username:</label>
        <input attribute type="text" id="username" name="username" >
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" >
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" >
        <button id="signupbtn" type="button">Sign up</button>
    </form>
    </div>

     <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
     <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>


     <script type="text/javascript">
        console.log('Hello, world')
        const firebaseConfig = {
            apiKey: "AIzaSyDxIYV6GJbwcg9TKdSbhWCN3X3WXXK0EWk",
            authDomain: "quick-connect-app-40ef2.firebaseapp.com",
            projectId: "quick-connect-app-40ef2",
            storageBucket: "quick-connect-app-40ef2.appspot.com",
            messagingSenderId: "527717734334",
            appId: "1:527717734334:web:7ad79cfd20dfd603774bef",
            measurementId: "G-K78LLKVFYS"
          };
        
          firebase.initializeApp(firebaseConfig);

        document.getElementById('signupbtn').addEventListener('click', createUser);

        function createUser() {
            let email = document.getElementById('email').value;
            let password = document.getElementById('password').value;
            let username = document.getElementById('username').value;

            // Get the user's location using the Geolocation API
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    position => {
                        const latitude = position.coords.latitude;
                        const longitude = position.coords.longitude;

                        firebase.auth().createUserWithEmailAndPassword(email, password)
                        .then((userCredential) => {
                            // Set the display name
                            userCredential.user.updateProfile({
                                displayName: username
                            })
                            .then(() => {
                                console.log("User created successfully with display name: " + username);
                                // Save user information to the Users database
                                const db = firebase.firestore();
                                const userId = userCredential.user.uid;

                                const userData = {
                                    username: username,
                                    email: email,
                                    number: "", // You can add a field for the user's number and initialize it as an empty string
                                    headline: "", // You can add a field for the user's headline and initialize it as an empty string
                                    instagram: "", // You can add a field for the user's Instagram and initialize it as an empty string
                                    facebook: "", // You can add a field for the user's Facebook and initialize it as an empty string
                                    linkedin: "", // You can add a field for the user's LinkedIn and initialize it as an empty string
                                    tiktok: "",
                                    latitude: latitude,
                                    longitude: longitude
                                };

                                const userRef = db.collection('Users').doc(userId);
                                userRef.get()
                                .then((doc) => {
                                    if (doc.exists) {
                                        // Update the user data in Firestore
                                        userRef.update(userData)
                                        .then(() => {
                                            console.log('User data updated successfully.');
                                            window.location.href = "/views/dashboard.html"; // Redirect to the dashboard page
                                        })
                                        .catch((error) => {
                                            console.error('Error updating user data:', error);
                                        });
                                    } else {
                                        // Create a new document with the user data
                                        userRef.set(userData)
                                        .then(() => {
                                            console.log('New user data created successfully.');
                                            //window.location.href = "/views/dashboard.html"; // Redirect to the dashboard page
                                        })
                                        .catch((error) => {
                                            console.error('Error creating user data:', error);
                                        });
                                    }
                                })
                                .catch((error) => {
                                    console.error('Error retrieving user data:', error);
                                });
                            })
                            .catch((error) => {
                                console.log("Error setting display name: " + error.message);
                            });
                        })
                        .catch((error) => {
                            console.log("Error creating user: " + error.message);
                        });
                    },
                    error => {
                        console.error("Error getting location: ", error);
                        // If there's an error getting the location, you can choose to handle it here
                    }
                );
            } else {
                console.log("Geolocation is not supported by this browser.");
                // If geolocation is not supported, you can choose to handle it here
            }
        }

        firebase.auth().onAuthStateChanged(user => {
            if (user) {
                console.log(user);
                window.location.href = "/views/dashboard.html"; // Replace "dashboard.html" with the actual URL of your dashboard page
            } else {
                console.log("No user");
            }
        });
    </script>
   
    <!-- Add your custom JavaScript code for handling login -->
    
</body>
</html>
