@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;800;900&family=Lato:wght@400;700&family=Montserrat:wght@400;500;600;700;800&family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --primary:#14213D;
    --secondary:#FCA311;
    --tertiary:#E5E5E5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: white !important;
    transition: 0.6s;
    padding: 10px 30px !important;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.2);
}


.nav-item{

    font-size: 1.1em;
    margin-inline: 1rem;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primary);
    opacity:0.75;
}

 .navbar-light .navbar-nav .nav-link.active{
    color: var(--primary);
    opacity:1;
}
.navbar-brand img{
     max-width: 10rem;
}

@media (max-width: 991px) {
    nav .btn{
       display: none;
    }
}

main{
    padding-bottom: 2rem;
    font-family: var(--bs-font-sans-serif);
}

#hero-section{
    margin-top:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background: url("../assets/banner-4.jpg") center/cover no-repeat;
    font-family: var(--bs-font-sans-serif);
  }
  
  .hero-content{
    text-align: center ;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
  }
  
  .buttons{
    display:flex;
    justify-content: center;
    margin-top:20px;
  }

  #learn-more{
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-inline:12px;
    padding: 10px 20px;
    text-shadow: none;
    border-radius:10px;
  }

  #signup{
    text-shadow: none;
    background-color: var(--secondary);
    color: white;
    font-weight: 600;
    margin-inline:12px;
    padding: 10px 30px;
    border-radius:10px;
  }
  
  .features-btn{
    font-family: "lato", sans-seriff;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-top: 12px;
  }


  .features-btn #connections{
    text-align:center;
    margin-top:8px;
    width: 250px;
    height: 60px;
    padding: 20px;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
  }

  .features-btn #networking{
    text-align:center;
    margin-top:8px;
    width: 250px;
    height: 60px;
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
    font-weight: bold;
  }

  .features-btn #premium{
    margin-top:8px;
    text-align:center;
    margin-bottom:24px;
    width: 250px;
    height: 60px;
    padding: 20px;
    background-color: var(--tertiary);
    color: var(--primary);
    font-weight: bold;
  }

  .btn-primary{
    background-color: var(--primary) !important;
    border: none !important;
  }

  /* hero section for tablet screens */
 @media (min-width: 768px)
 {
    #hero-section{
        display: grid;
    }
 }

 /* login styling  */
 .structure {
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  
  .structure h1 {
    color: var(--primary);
    text-align: center;
    margin-top: 50px;
  }
  
  #login-form {
    color: white;
    width: 400px;
    height: 400px;
    background-color: var(--primary);
    margin-top: -30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-title{
      margin-top: -80px;
      padding-bottom: 30px;
      justify-content:  flex-start;
  }

  .login-title h1{
    color: white;

  }
  
  .structure label {
    display: block;
    margin-bottom: 10px;
    color: white;
  }
  
  .structure input[type="email"],
  .structure input[type="password"], .structure input[type='text'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--primary);
    border-radius: 3px;
  }
  
  .structure button[type="submit"] {
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.9;
  }
  
  .structure button[type="submit"]:hover {
    transition: 0.5s;
    background-color: var(--secondary);

    opacity: 1;
  }

  .structure p{
      padding-top: 25px;
      text-align: center;
  }
  .structure a{
      color: white;
      text-decoration: none;
  }
  .structure a:hover{
      color: #FCA311;
  }
  .logo-image{
      margin-top: -100px;
      display: flex;
      width: 250px;
      margin-right: auto;
      margin-left: auto;
  }

  @media (max-width:576px) {
      #login-form{
          width: 99%;
      }
      
  }
